@import '../../modules/colors';

.shorten {
	height: 100%;
}

form {
	display: flex;
	margin: 10px auto;
	height: 160px;
	width: 80%;
	justify-content: center;
	align-items: center;
	background-color: $darkViolet;
	background-image: url('../../imgs/bg-shorten-desktop.svg');
	background-size: cover;
	border-radius: 10px;

	input {
		border: none;
		border-radius: 10px;
		height: 37%;
		font-size: 1em;

		&[type="text"] {
			width: 72%;
			padding: 10px 20px;
		}

		&[type="submit"] {
			// height: 35%;
			width: 168px;
			background-color: $cyan;
			margin-left: 20px;
			color: #fff;
		}
	}
}

.results {
	width: 80%;
	margin: 0 auto;
	height: 100%;

	.resultItem {
		list-style-type: none;
		height: 50px;
		background-color: #fff;
		padding: 14px;
		margin: 10px 0;
		border-radius: 6px;
	}

	.leftResult {
		float: left;
		&::after {
			clear: both;
			display: table;
			content: '';
		}
	}

	.rightResult {
		float: right;
		color: $cyan;
	}
	&::after {
		clear: both;
		display: table;
		content: '';
	}
}

.btn-jumbotron,
.btn-cta {
	width: 200px;
	height: 55px;
	background-color: $cyan;
	color: #fff;
	border-radius: 30px;
	border: none;
	margin-top: 25px;
	font-size: 1.1em;

	&:hover {
		background-color: rgb(97, 238, 238);
		cursor: pointer;
	}
}
