@import "../../modules/colors";
@import "../../modules/fonts";

header {
  display: flex;
  align-items: center;
  padding: 0 160px;
  margin: 0 auto;
  background-color: #fff;

  h2 {
    color: $darkViolet;
  }

  nav {
    width: 100%;

    ul {
      display: flex;
      padding: 10px 0;

      li {
        display: flex;
        font-size: 0.8em;

        a {
          color: $darkGray;
          font-weight: 500;
          padding: 9px 12px;

          &:hover {
            color: $veryDarkBlue;
          }
        }
      }
    }
  }

  .navLeft {
    float: left;
    margin-left: 40px;
  }

  .navRight {
    float: right;
  }

  .btn-signUp {
    margin-top: 4px;
    height: 32px;
    width: 70px;
    background-color: $cyan;
    color: #fff;
    border-radius: 20px;
    border: 2px solid $cyan;
    font-size: 0.8em;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media only screen and (max-width: 767px) {
  header {
    position: relative;
    padding: 0;
    // justify-content: center;
    h2 {
      text-align: left;
    }
    nav {
      position: absolute;
      display: flex;
      flex-flow: column;
      // align-items: center;
      top: 40px;
      width: 90%;
      background-color: $darkViolet;
      border-radius: 20px;
      .navLeft {
        margin: 0;
      }
      ul {
        flex-flow: column;
        align-items: center;
      }
    }
  }
}
