@import '../../modules/colors';

.jumbotron {
	height: 88vh;

	.top-jumbotron {
		display: flex;
		height: 87%;
		background-color: #fff;
		padding-bottom: 57px;

		.leftJumbo {
			display: flex;
			flex-flow: column;
			width: 55%;
			align-self: center;
			padding-left: 160px;
			color: $darkGray;

			h1 {
				font-size: 4.2em;
				color: $veryDarkViolet;
				line-height: 1.2em;
			}

			p {
				width: 80%;
				font-size: 1.2em;
			}
		}

		.rightJumbo {
			flex-shrink: 0;
			width: 45%;
			background: url('../../imgs/illustration-working.svg') no-repeat;
			overflow: visible;
			background-size: auto 70%;
			background-position-y: center;
		}
	}

	.bottom-jumbotron {
		display: flex;
		margin: 10px auto;
		height: 160px;
		width: 80%;
		justify-content: center;
		align-items: center;
		background-color: $darkViolet;
		background-image: url('../../imgs/bg-shorten-desktop.svg');
		background-size: cover;
		border-radius: 10px;
		margin-top: -80px;

		input {
			border: none;
			border-radius: 10px;
			height: 37%;
			font-size: 1em;

			&[type="text"] {
				// height: 30%;
				width: 72%;
				padding: 10px 20px;
			}

			&[type="submit"] {
				// height: 35%;
				width: 168px;
				background-color: $cyan;
				margin-left: 20px;
				color: #fff;
			}
		}
	}
}

.btn-jumbotron,
.btn-cta {
	width: 200px;
	height: 55px;
	background-color: $cyan;
	color: #fff;
	border-radius: 30px;
	border: none;
	margin-top: 25px;
	font-size: 1.1em;

	&:hover {
		background-color: rgb(97, 238, 238);
		cursor: pointer;
	}
}