@import '../../modules/colors';

.jumbotron {
	height: 100vh;
	display: flex;
	height: 100%;
	background-color: #fff;
	padding-bottom: 57px;
	.leftJumbo {
		display: flex;
		flex-flow: column;
		width: 55%;
		align-self: center;
		padding-left: 160px;
		color: $darkGray;

		h1 {
			font-size: 4.2em;
			color: $veryDarkViolet;
			line-height: 1.2em;
		}

		p {
			width: 80%;
			font-size: 1.2em;
		}
	}

	.rightJumbo {
		flex-shrink: 0;
		width: 45%;
		background: url('../../imgs/illustration-working.svg') no-repeat;
		overflow: visible;
		background-size: auto 70%;
		background-position-y: center;
	}
}
@media only screen and (max-width: 867px) {
	.jumbotron {
		height: 100%;
		.top-jumbotron {
			flex-wrap: wrap;
			height: 115vh;
			justify-content: center;
			flex-basis: 100%;
			.leftJumbo {
				padding-left: 0;
				width: 85%;
				height: 50%;
				text-align: center;
				order: 2;
				h1 {
					font-size: 2.5em;
				}
				p {
					width: 100%;
					font-size: 0.99em;
				}
				button {
					margin: 30px auto;
				}
			}
			.rightJumbo {
				width: 100%;
				height: 50%;
				order: 1;
				background-position: center;
			}
		}
	}
}
