@import '../../modules/colors';

footer {
	padding: 70px 140px;
	height: 310px;
	display: flex;
	background-color: $veryDarkViolet;
	color: #fff;
	justify-content: center;

	a {
		color: $gray;
	}

	ul {
		list-style: none;
		margin: 0 20px;

		li {
			margin-bottom: 10px;

			&:nth-child(1) {
				font-weight: 500;
				margin-bottom: 14px;
			}
		}
	}


	.footerFirst {
		display: flex;
		width: 25%;
	}

	.footerSecond {
		display: flex;
		width: 45%;
		justify-content: center;

		ul {
			padding: 0 10px;
		}
	}

	.footerThird {
		width: 30%;

		ul {
			float: right;
			display: flex;
			flex-flow: row;

			li {
				padding: 0 10px;

				&:nth-last-child(1) {
					padding-right: 0;
				}
			}
		}
	}
}