@import './modules/colors';
@import './modules/fonts';

*,
html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $mainFont;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	box-shadow: 0px 0px 120px $grayBackground;
}

section {
	background-color: $grayBackground;
}

a {
	text-decoration: none;
	color: $veryDarkBlue;
}